<!DOCTYPE html>
<document>

	<head>
		<link rel="stylesheet" href="./css/styles.css" />
		<script scr='./js/app.js'></script>
	</head>

	<body>
		{{>header}}

		<h1>From a static file in HTML.</h1>
		<p>{{helpText}}</p>
	</body>
</document>