<!DOCTYPE html>
<document>

	<head>
		<link rel="stylesheet" href="./styles/styles.css" />
	</head>

	<body>
		{{>header}}
		<div class="main-content">
			<form>
				<input placeholder="Location">
				<button>search</button>
			</form>
		</div>

		<p id="message-1"></p>
		<p id="message-2"></p>
		<script src="./js/script.js"></script>
	</body>
</document>